$azul:          #54909A;
$azul-claro:    #95C1C6;
$verde-clarim:  #E6EDD9;
$verde-claro:   #BBE186;
$verde:         #91B774;
$verde-musgo:   #748268;
$laranja-claro: #FCD2B1;
$laranja:       #EA9671;
$amarelo-claro: #FFFBF3;
$cinza-texto:   #757575;
html{
  font-size: 18px;
  line-height: 1.5;
  font-family: "Mazzard M", Verdana, Geneva, sans-serif;
}