@charset "UTF-8";
@import "padroes/padrao";


body, html {overflow-x: hidden;}

body {
	font-size: 18px;
	line-height: 1.5;
	font-family: $fonte;
	font-weight: normal;
	font-style: normal;
	line-height: 1.7;
	// letter-spacing: 0.04em;
	position: relative;
	color: $cinza-texto;
	background: $amarelo-claro url('../media/blob_bg.svg') no-repeat left top / 45% auto;
}

@import "layout/componentes";
@import "layout/portal";
@import "layout/apresentacao";
@import "layout/formulario";
@import "layout/print"

